.mybgclass
{
    background-color: rgb(74, 72, 129);
}
h2
{
    color: rgb(255, 133, 208);
    font-family: cursive;
}
.skill-unit
{
   padding: 1.1vh;
   background-color: rgb(85, 219, 226);
   width: max-content;
   margin-right: 20px;
   margin-top: 10px; 
   border-radius: 12px 12px 12px 12px;
}

.eduUnit
{
    background-color: rgba(170, 28, 52, 0.778);
}

.basic-details
{
    padding: 50px;
    padding-top: 0px;
    height: auto;
    border-radius: 0px 0px 50px 50px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    overflow-wrap: break-word;
    color: white;
}


@media (max-width: 576px) { 

    .detail-menu-bar
    {
        font-size: 10px;
        color: black;
    }

 }


@media (min-width: 768px) { 

    .detail-menu-bar
    {
        font-size: 16px;
        color: black;
    }

 }